<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置扫描包-->
    <context:component-scan base-package="cn.itcast"></context:component-scan>

    <!-- 视图解析器对象-->
    <bean id="internalResourceViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!-- 配置的类型转换器工厂 -->
    <bean id="conversionFactory" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <!-- 诸如我们自定义的类型转换器 -->
                <ref bean="dateConverters"/>
            </set>
        </property>
    </bean>

    <bean id="dateConverters" class="cn.itcast.domain.StringToDateConverter"/>

    <!--开启springmvc框架的注解支持 -->
    <mvc:annotation-driven conversion-service="conversionFactory"/>

    <!--配置异常处理器 -->
    <bean id="sysExceptionResolver" class="cn.itcast.exception.SysExceptionResolver"></bean>
    <!--  前端控制器，哪些静态资源不拦截-->
    <mvc:resources location="/js/" mapping="/js/**"/>

    <!--配置文件解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"></property>
    </bean>
</beans>